<div class="recommended">
    <div class="recommended-grids">
        <div class="recommended-info">
            <h3><a>
                    Quoi de neuf?
                </a></h3>
        </div>
        {{ include ('category/listPosts.html.twig', { 'posts': posts, 'language': language}) }}
    </div>
</div>