{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="sonata-news-block-recent-post panel panel-default">
        <div class="panel-body">
            {% include 'buying/list_buyings.html.twig' with { 'buyings': buyings %}
        </div>
    </div>
{% endblock %}
