{% extends "base.html.twig" %}
{% block body %}
<div class="container">
<form action="{{ path('payment' , {'id': ticket.id } ) }}" method="post">
        {{ form_widget(form) }}
        <input type="submit" />
    </form>
{% endblock %}

{% block javascripts %}
    {% javascripts '%kernel.root_dir%/Resources/assets/js/*' %}
        <script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script>

$(document).ready(function(){
    $("#jms_choose_payment_method_method_0").attr('checked', 'checked');
});

</script>

{% endblock %}
